<!-- <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Comprar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let articulo of articulos">
        <td><img [src]="articulo.imagenURL" alt="" class="card-img-top mx-auto" style="max-height: 200px; width: auto"></td>
        <td>{{articulo.nombre}}</td>
        <td>{{articulo.descripcion}}</td>
        <td>S/.{{articulo.precio / 100}}</td>
        <td><button class="btn btn-outline-info" routerLink="/detalle/{{articulo.id}}">Comprar</button></td>
      </tr>
    </tbody>
  </table> -->
<!--   <div class="card" style="width: 18rem;">
    <div class="col-md-4" *ngFor="let articulo of articulos">
      <img [src]="articulo.imagenURL" alt="" class="card-img-top mx-auto" style="max-height: 200px; width: auto">
      <div class="card-body">
        <h5 class="card-title">{{ articulo.nombre }}</h5>
        <p class="card-text">{{ articulo.descripcion }}</p>
        <p class="card-text">{{ articulo.precio }} dias</p>
        <button class="btn btn-outline-info" routerLink="/detalle/{{articulo.id}}">Comprar</button>
      </div>
    </div>
  </div> -->
  <div class="row justify-content-center mt-4" style="width: 60rem;"> 
    <div class="col-md-4 col-md-4" *ngFor="let articulo of articulos">
      <div class="card h-100">
        <img [src]="articulo.imagenURL" alt="" class="card-img-top" style="max-height: 400px; width: auto"  >
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ articulo.nombre }}</h5>
          <div class="card-details">
            <p class="card-text">{{ articulo.descripcion }}</p>
            <p class="card-text">S/.{{ (articulo.precio / 100).toFixed(2) }}</p>
          </div>
        </div>
        <div class="card-footer">
          <a class="btn btn-outline-info" routerLink="/detalle/{{articulo.id}}">Comprar</a>
        </div>
      </div>
    </div>
  </div>
  